#gzip сжатие
<IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4.0678 no-gzip
        BrowserMatch bMSIE gzip-only-text/html
<ifmodule mod_gzip.c>
        mod_gzip_on Yes
        mod_gzip_item_include file \.html$
        mod_gzip_item_include file \.js$
        mod_gzip_item_include file \.css$ </IfModule>
</IfModule>
# фин gzip сжатие
# Заголовок Cache-Control
<IfModule mod_headers.c>
        Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>
 
# Заголовок Expires
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "now"
</IfModule>

<FilesMatch "\.(gif|jpg|jpeg|png|swf)$">
        ExpiresDefault A604800
        Header append Cache-Control "public"
</FilesMatch>