#author
    width 100%
    padding 93px 0 95px
    background-image url(../img/about_bg.jpg)
    background-repeat no-repeat
    background-position: center top
    background-size: cover
.veda_img
    position relative
#veda_about
    position absolute
    left: -28px;
    top: -55px;
.author_title
    font-size: 27px;
    font-family: "CenturyGothicBold", sans-serif;
    color: rgb(143, 135, 93);
    line-height: 1.741;
    margin-top: -9px;
    margin-bottom: 19px;
.author_descript
    font-size: 14px;
    font-family: "CenturyGothic", sans-serif;
    color: rgb(27, 24, 25);
    line-height: 1.714;
    margin-bottom: 13px
    span
        font-family: "CenturyGothicBold", sans-serif;
    &:first-of-type
        font-size: 16px
#certs
    margin-top: 220px
    .col-md-2
        display: table
    a
        height 154px
        display: table-cell
        vertical-align: middle
        img
            width: auto
            display block
            margin 0 auto
.button_partner
    margin-top: 56px