#for
    width 100%
    background-color #000
    padding 103px 0 61px
    background-image: radial-gradient( 50% 50%, circle closest-side, rgb(97,98,100) 0%, rgb(0,0,0) 100%);
.for_list
    li
        list-style: none
        font-size: 18px;
        font-family: "CenturyGothic";
        color: rgb(255, 255, 255);
        line-height: 1.667;
        margin-bottom: 44px
        background-image url(../img/for_disc.png)
        background-repeat no-repeat
.for_list_left
    margin-top: 51px
    li
        background-position: right center
        padding-right: 41px
        text-align: right
.for_list_right
    margin-top: 42px
    li
        background-position: left center
        padding-left: 41px
        text-align: left
        margin-bottom: 49px
#for_center_img
    display block
    margin 0 auto