#mail
    background-color: #000000
#mail_container
    padding 34px 81px 29px
    background-image url(../img/mail_bg.jpg)
    border-radius: 10px
    overflow hidden
.mail_title
    font-size: 20px;
    font-family: "CenturyGothic", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 15px
    span
        font-family: 'CenturyGothicBold', sans-serif
.mail_subtitle
    font-size: 17px;
    line-height: 1.5;
    font-family: "CenturyGothicBoldItalic", sans-serif;
    span
        text-transform: uppercase
        color #6d6441
        font-size: 22px
        font-family: 'TrajanPro3Bold', serif
        letter-spacing: -1.5px;
.button_mail
    margin: 14px 0 0 auto