#mail
    background-color: #000000
#mail_container
    padding 20px 30px
    background-image url(../img/mail_bg.jpg)
    border-radius: 10px
    overflow hidden
    margin-top: 20px
    position relative
    z-index: 20
.mail_title
    font-size: 20px;
    font-family: "CenturyGothic", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 15px
    span
        font-family: 'CenturyGothicBold', sans-serif
.mail_subtitle
    font-size: 17px;
    line-height: 1.5;
    font-family: "CenturyGothicBoldItalic", sans-serif;
    text-align: center
    width 100%
    max-width 300px
    margin: 0 0 0 auto
    span
        text-transform: uppercase
        color #6d6441
        font-size: 20px
        font-family: 'TrajanPro3Bold', serif
        letter-spacing: -1.5px;
.button_mail
    margin: 5px 0 10px auto