#main_screen
	width 100%
	padding 0 0 30px
	background-color: #000
	background-image: url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position top center
	background-size: cover
	overflow hidden
	.container
		position relative
#header
	padding 13px 0 7px
	border-bottom: 1px solid rgba(#FFFFFF, .1)
	z-index: 9
	position relative
#logo
	float: left
	// line-height: 16px
.contacts
	float: right
	text-align: right
	line-height  16px
	padding-right: 18px
	a
		font-size: 10px
		.fa
			color: #cfc488
			font-size: 14px
			margin: 0 15px 0  40px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 14px;
			font-family:'CenturyGothic', sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.main_container
	position relative
	z-index: 9
.pre_1
	font-size: 18px;
	font-family: "Century GothicBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.4
	text-align: center
	margin 15px 0 10px
	letter-spacing: 0.9px;
.pre_2
	font-size: 18px;
	font-family: "TrajanPro3Regular", serif;
	color: rgb(255, 255, 255);
	line-height: 52px
	text-align: center;
	text-shadow: 0px 0px 9.5px rgba(17, 17, 15, 0.37);
	background-image url(../img/pre_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.main_title
	margin 0
	img
		display block
		width 100%
		max-width 430px
		height 78px
		margin 13px auto
		height auto
.main_subtitle
	font-size: 20px;
	font-family: "CenturyGothic", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.25;
	text-align: center
.date
	position: absolute
	top: 50px
	left 110px
	font-family: "TrajanPro3Regular", serif;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	p
		margin-bottom: 0
		&:first-child
			font-size: 23px
		&:last-child
			font-size: 17px
		img
			vertical-align: baseline
			margin 0 5px
.main_author
	font-size: 16px;
	font-family: "CenturyGothicBoldItalic", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.563;
	text-align: center
	margin 13px 0 5px
.main_video_wrapper
	width: 375px
	margin-left: 0
	margin-top: -65px
#veda_main
	position:  absolute
	right: -72px;
	bottom: -35px
	z-index 0
#bonus
	background-color: #000
.bonus_main_title
	font-size: 32px
	font-family: 'TrajanPro3Regular';
	color #c9bc89
	text-align: center
	margin 0 auto 20px;
	line-height: 1.3
	width 100%
	max-width 650px
.bonus_video_wrapper
	width 100%
	max-width 550px
	margin 0 auto
.ht_after_par
	font-size: 20px
	text-align: center
	width 100%
	max-width 560px
	margin 20px auto 0
	color #000
	font-family:  'CenturyGothicBoldItalic', sans-serif
	padding 25px
	background-color: #fff
	background-image url(../img/mail_bg.jpg)
	border-radius: 10px
#ht_feedback
	padding: 60px 0
	background-color #000
	background-image: radial-gradient( 50% 50%, circle closest-side, rgb(97,98,100) 0%, rgb(0,0,0) 100%);
.fb
	background-color #fff
	box-shadow: 0 0 5px rgba(#fff, .8)
.vk
	margin-bottom: 20px
	box-shadow: 0 0 5px rgba(#fff, .8)