#main_screen
	width 100%
	padding 0 0 40px
	background-color: #000
	background-image: url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position top center
	background-size: cover
	overflow hidden
	.container
		position relative
#header
	padding 21px 0 18px
	border-bottom: 1px solid rgba(#FFFFFF, .1)
	z-index: 9
	position relative
#logo
	float: left
	// line-height: 16px
.contacts
	float: right
	text-align: right
	line-height  16px
	padding-right: 18px
	a
		font-size: 10px
		.fa
			color: #cfc488
			font-size: 14px
			margin: 0 15px 0  40px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 14px;
			font-family:'CenturyGothic', sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.main_container
	position relative
	z-index: 9
.pre_1
	font-size: 18px;
	font-family: "Century GothicBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.4
	text-align: center
	margin 31px 0 29px
	letter-spacing: 0.9px;
.pre_2
	font-size: 18px;
	font-family: "TrajanPro3Regular", serif;
	color: rgb(255, 255, 255);
	line-height: 52px
	text-align: center;
	text-shadow: 0px 0px 9.5px rgba(17, 17, 15, 0.37);
	background-image url(../img/pre_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.main_title
	margin 0
	img
		display block
		width 100%
		max-width 430px
		height 78px
		margin 23px auto 13px
.main_subtitle
	font-size: 20px;
	font-family: "CenturyGothic", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.25;
	text-align: center
.date
	position: absolute
	top: 67px
	left 12px
	font-family: "TrajanPro3Regular", serif;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	p
		margin-bottom: 0
		&:first-child
			font-size: 23px
		&:last-child
			font-size: 17px
		img
			vertical-align: baseline
			margin 0 5px
.main_author
	font-size: 16px;
	font-family: "CenturyGothicBoldItalic", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.563;
	text-align: center
	margin 33px 0 5px
.main_video_wrapper
	width: 463px
	margin-left: 0
#veda_main
	position:  absolute
	right: -72px;
	bottom: -42px;
	z-index 0
#bonus
	background-color: #000
.bonus_main_title
	font-size: 32px
	font-family: 'TrajanPro3Regular';
	color #c9bc89
	text-align: center
	margin 0 auto 20px;
	line-height: 1.3
	width 100%
	max-width 650px
.bonus_video_wrapper
	width 100%
	max-width 550px
	margin 0 auto