#plan
	width 100%
	padding 93px 0 102px
	background-image url(../img/plan_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.day
	margin-bottom: 62px;
	padding: 0 197px 0 192px
	background-position: left center
	background-repeat no-repeat
.day_first
	background-image url(../img/day_1.png)
	margin-top: 90px
.day_second
	background-image url(../img/day_2.png)
.day_third
	background-image url(../img/day_3.png)
.day_fourth
	background-image url(../img/day_4.png)
.day_fifth
	background-image url(../img/day_5.png)
	margin-bottom: 0
.day_descript
	background-color #fff
	border-radius: 10px
	position relative
	padding 32px 20px 18px 49px
.day_list
	li
		list-style: none
		font-size: 18px;
		font-family: "CenturyGothic", sans-serif;
		color: rgb(32, 31, 31);
		line-height: 1.5;
		margin-bottom: 8px
		padding-left: 25px
		background-image url(../img/day_disc.png)
		background-repeat no-repeat
		background-position 0 11px
.day_icon
	position: absolute
	top -22px
	right -112px
	border-radius: 10px
.button_plan
	margin-top: 90px