#reach
    width 100%
    padding 91px 0 367px
    background-image url(../img/reach_bg.jpg)
    background-repeat no-repeat
    background-position:  center 250px
    background-size: cover
.reach_subtitle
    margin-bottom: 73px
.reach_container
    padding-left: 80px
    margin-bottom: 6px
    background-repeat no-repeat
    background-position: left center
    min-height 92px
    display: flex
    align-items: center
    &:last-child
        margin-bottom: 0
.reach_container_first
    background-image url(../img/reach_icons/icon_1.png)
.reach_container_second
    background-image url(../img/reach_icons/icon_2.png)
.reach_container_third
    background-image url(../img/reach_icons/icon_3.png)
.reach_container_fourth
    background-image url(../img/reach_icons/icon_4.png)
.reach_container_fifth
    background-image url(../img/reach_icons/icon_5.png)
.reach_container_first
    background-image url(../img/reach_icons/icon_1.png)
.reach_container_sixth
    background-image url(../img/reach_icons/icon_6.png)
.reach_container_seventh
    background-image url(../img/reach_icons/icon_7.png)
.reach_container_eighth
    background-image url(../img/reach_icons/icon_8.png)
.reach_container_ninth
    background-image url(../img/reach_icons/icon_9.png)
.reach_container_tenth
    background-image url(../img/reach_icons/icon_10.png)
.reach_descript
    font-size: 18px;
    font-family: "CenturyGothic",sans-serif;
    color: rgb(12, 13, 13);
    line-height: 1.67
.reach_after
    text-align: center
    font-size: 22px
    margin-top: 40px
    font-family: 'TrajanPro3Bold', serif
.button_reach
    margin-top: 72px
