section#author
    .container
        h3.subtitle О тренере
        .row
            .col-md-5.veda_img
                img(src="img/veda_about.png", alt="Ольга Веда")#veda_about
            .col-md-7
                h4.author_title Ольга Веда
                p.author_descript
                    span Я волшебница в 3 поколении, постоянно обучающаяся современным эзотерическим и магическим практикам, имею множество дипломов
                p.author_descript Начала я обучаться еще в детстве, помогая своей бабушке в различных ритуалах, тогда же получила древние магические знания, но магия как и другая наука не стоит на месте. Уже во взрослом возрасте 
                    span я прошла школу ДЭИР,
                    |  изучала метод системных расстановок, 
                    span закончила Американскую школу гипноза, обучалась в институте реинкарнационики. 
                    | Я живу в 
                    span Египте,
                    |  где познаю и успешно применяю секретные 
                    span знания Египетской магии, 
                    | которая была доступна только жрецам Фараонов
                p.author_descript Благодаря объединению древних знаний и современных методик мною была выработана 
                    span авторская программа, 
                    | направленная на исцеление души и тела и гармонизацию всех областей жизни не только обратившегося ко мне человека, но и его окружения автоматически
                p.author_descript Исключительность моего метода состоит в том, что в процессе работы я 
                    span не только убираю проблему, но и даю Вам инструменты для коррекции Вашей жизни, 
                    | то есть на подсознательном уровне Вы обучаетесь работать самостоятельно, что в дальнейшем позволит Вам не обращаться ни к кому и не тратить Ваши деньги
        .row#certs
            .col-md-2.col-sm-2.col-xs-2.certs_col
                a(href="img/certs/cert_1.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_1_min.jpg", alt="Сертификат 1")
            .col-md-2.col-sm-2.col-xs-2.certs_col
                a(href="img/certs/cert_2.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_2_min.jpg", alt="Сертификат 2")
            .col-md-2.col-sm-2.col-xs-2.certs_col
                a(href="img/certs/cert_3.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_3_min.jpg", alt="Сертификат 3")
            .col-md-2.col-sm-2.col-xs-2.certs_col
                a(href="img/certs/cert_4.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_4_min.jpg", alt="Сертификат 4")
            .col-md-2.col-sm-2.col-xs-2.certs_col
                a(href="img/certs/cert_5.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_5_min.jpg", alt="Сертификат 5")
            .col-md-2.col-sm-2.col-xs-2.certs_col
                a(href="img/certs/cert_6.jpg" data-fancybox="certs")
                    img(src="img/certs/cert_6_min.jpg", alt="Сертификат 6")
        a.button.button_partner(href="https://mastervision.su//partnership/") Партнерская программа