footer#footer
	.container
		//- .soc_buttons
		//- 	h5 Хотите узнать больше? Вступайте в наши группы!
		//- 	a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
		//- 		i(class="fa fa-facebook" aria-hidden="true")
		//- 	a(href="http://vk.com/mv_ezoterika" target="_blank")
		//- 		i(class="fa fa-vk" aria-hidden="true")
		//- 	a(href="https://twitter.com/MastervisionEzo" target="_blank")
		//- 		i(class="fa fa-twitter" aria-hidden="true")
		//- 	a(href="https://www.instagram.com/mastervision1/" target="_blank")
		//- 		i(class="fa fa-instagram" aria-hidden="true")
		//- 	a(href="https://ok.ru/mv.ezoterika" target="_blank")
		//- 		i(class="fa fa-odnoklassniki" aria-hidden="true")
		//- 	a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
		//- 		i(class="fa fa-youtube" aria-hidden="true")
		//- 	.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		//- a#conditions(href="http://mastervision.su/oferta.docx") Условия возврата денежных средств
.modal.fade(tabindex="-1" role="dialog")#myModalForm
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					form#modalForm(action="https://aleksandrkudryashov1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3568&lg=ru&Contact[id_newsletter]=411" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="_blank").form_newsletter.form_modal
						h4.infront Запишись сейчас  и получи бонус!
						p.form_bonus.form_bonus_after.infront_submit.hide
						p.form_bonus.infront «Ритуал успокоения пространства когда все не ладится»
						.email-block
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="mail" name="Contact[email]" type="text" placeholder="Ваш email")
						button(type="submit").button.button_modal Записаться
						p.alert_message
						<!--Обязательный параметр. Не удалять и не изменять!-->
						input(type="hidden" value="442" name="Contact[id_newsletter]")
						<!--API код канала рекламы-->
						input(type="hidden" value="Веда. Основы Магии" name="Contact[id_advertising_channel_page]")
						.checking
							input(type="checkbox" id="check" checked).check
							label(for="check").check_label Согласен/на на обработку 
								a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  персональных данных
								|  по 152 - Ф3
					<div class="modal_soc_buttons row">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a class="modal_soc_button soc_button_vk" href="https://vk.com/app6379730_-96028637#l=6;auto=1" target="_blank">Записаться через 
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 32 32">
								<path d=" M26.712 10.96s-.167-.48-1.21-.348l-3.447.024a.785.785 0 0 0-.455.072s-.204.108-.3.37a22.1 22.1 0 0 1-1.28 2.695c-1.533 2.61-2.156 2.754-2.407 2.587-.587-.372-.43-1.51-.43-2.323 0-2.54.382-3.592-.756-3.868-.37-.084-.646-.144-1.616-.156-1.232-.012-2.274 0-2.86.287-.396.193-.695.624-.515.648.227.036.742.143 1.017.515 0 0 .3.49.347 1.568.13 2.982-.48 3.353-.48 3.353-.466.252-1.28-.167-2.478-2.634 0 0-.694-1.222-1.233-2.563-.097-.25-.288-.383-.288-.383s-.216-.168-.527-.216l-3.28.024c-.504 0-.683.228-.683.228s-.18.19-.012.587c2.562 6.022 5.483 9.04 5.483 9.04s2.67 2.79 5.7 2.597h1.376c.418-.035.634-.263.634-.263s.192-.214.18-.61c-.024-1.843.838-2.12.838-2.12.838-.262 1.915 1.785 3.065 2.575 0 0 .874.6 1.532.467l3.064-.048c1.617-.01.85-1.352.85-1.352-.06-.108-.442-.934-2.286-2.647-1.916-1.784-1.665-1.496.658-4.585 1.413-1.88 1.976-3.03 1.796-3.52z" fill-rule="evenodd"></path>
							</svg>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a class="modal_soc_button soc_button_tg" href="tg://resolve?domain=Master_Vision_Bot&start=ml5" target="_blank" >Записаться через 
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 32 32">
								<path d=" M15.02 20.814l9.31-12.48L9.554 17.24l1.92 6.42c.225.63.114.88.767.88l.344-5.22 2.436 1.494z" opacity=".6" fill-rule="evenodd"></path>
								<path d=" M12.24 24.54c.504 0 .727-.234 1.008-.51l2.687-2.655-3.35-2.054-.344 5.22z" opacity=".3" fill-rule="evenodd"></path><path d=" M12.583 19.322l8.12 6.095c.926.52 1.595.25 1.826-.874l3.304-15.825c.338-1.378-.517-2.003-1.403-1.594L5.024 14.727c-1.325.54-1.317 1.29-.24 1.625l4.98 1.58 11.53-7.39c.543-.336 1.043-.156.633.214" fill-rule="evenodd"></path>
							</svg>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a class="modal_soc_button soc_button_ms" href="https://m.me/1726493250936970?ref=ml5" target="_blank" >Записаться через 
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 32 32">
								<path d=" M16 6C9.925 6 5 10.56 5 16.185c0 3.205 1.6 6.065 4.1 7.932V28l3.745-2.056c1 .277 2.058.426 3.155.426 6.075 0 11-4.56 11-10.185C27 10.56 22.075 6 16 6zm1.093 13.716l-2.8-2.988-5.467 2.988 6.013-6.383 2.868 2.988 5.398-2.987-6.013 6.383z" fill-rule="evenodd"></path>
							</svg>
							</a>
						</div>
					</div>
.modal.fade(tabindex="-1" role="dialog")#myPolitics
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Политика конфиденциальности
						small (Обновлено 25.05.2018)
				.modal-body
					p Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую ООО «Master Vision» и/или его аффилированные лица, могут получить о пользователе во время использования им любого из сайтов, сервисов, служб, программ и продуктов ООО «Master Vision» (далее — Сервисы).
					p Использование Сервиса означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервиса.
					p 1. Персональная информация пользователей, которую получает и обрабатывает ООО «Master Vision»
					p 1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
					p 1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервиса, включая персональные данные пользователя. Обязательная для предоставления Сервиса (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
					p 1.1.2 Данные, которые автоматически передаются Сервису в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервису), время доступа, адрес запрашиваемой страницы.
					p 1.1.3 Иная информация о пользователе, сбор и/или предоставление которой определено в Регулирующих документах отдельных Сервисов.
					p 1.2. Настоящая Политика применима только к Сервису ООО «Master Vision». ООО «Master Vision» не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах ООО «Master Vision», в том числе в результатах поиска. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
					p 1.3. ООО «Master Vision» в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако ООО «Master Vision» исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии.
					p 2. Цели сбора и обработки персональной информации о пользователе
					p 2.1. ООО «Master Vision» собирает и хранит только те персональные данные, которые необходимы для предоставления Сервиса и оказания услуг (исполнения соглашений и договоров с пользователем).
					p 2.2. Персональную информацию пользователя ООО «Master Vision» может использовать в следующих целях:
					p 2.2.1. Идентификация стороны в рамках соглашений и договоров с ООО «Master Vision»;
					p 2.2.2. Предоставление пользователю персонализированных Сервисов;
					p 2.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервиса, оказания услуг, а также обработка запросов и заявок от пользователя;
					p 2.2.4. Улучшение качества Сервиса, удобства их использования, разработка новых Сервисов и услуг;
					p 2.2.5. Таргетирование рекламных материалов;
					p 2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.
					p 3. Условия обработки персональной информации пользователя и её передачи третьим лицам
					p 3.1. ООО «Master Vision» хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
					p 3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
					p 3.3. ООО «Master Vision» вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
					p 3.3.1. Пользователь выразил свое согласие на такие действия;
					p 3.3.2. Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю;
					p 3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
					p 3.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
					p 3.3.5. В целях обеспечения возможности защиты прав и законных интересов ООО «Master Vision» или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение сервиса.
					p 3.4. При обработке персональных данных пользователей ООО «Master Vision» руководствуется Федеральным законом РФ «О персональных данных».
					p 4. Изменение пользователем персональной информации
					p 4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, воспользовавшись функцией редактирования персональных данных в персональном разделе соответствующего Сервиса.
					p 4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию, воспользовавшись функцией «Отписаться от рассылки» в персональном разделе соответствующего Сервиса При этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов.
					p 5. Меры, применяемые для защиты персональной информации пользователей ООО «Master Vision» принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
					p 6. Изменение Политики конфиденциальности. Применимое законодательство
					p 6.1. ООО «Master Vision» имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу http://mastervision.su/confidential/.
					p 6.2. К настоящей Политике и отношениям между пользователем и ООО «Master Vision», возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
					p 7. Обратная связь. Вопросы и предложения
					p Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей Mastervision (info@mastervision.su)