section#for
    .container
        h3.subtitle.subtitle_gold Почему стоит посетить этот интенсив:
        .col-md-3
            ul.for_list.for_list_left
                li Финансовые трудности усложняют жизнь
                li Нет результата при решении проблемы человеческим способом
                li Проблемы со здоровьем
                li Постоянная борьба за место под солнцем
                li Негативное магическое воздействие
        .col-md-6
            img#for_center_img(src="img/for_collage.png", alt="Почему стоит посетить этот интенсив")
        .col-md-3
            ul.for_list.for_list_right
                li Постоянная усталость,отсутствие нужного количества энергии
                li Окружающий мир постоянно пытается вас покусать
                li Не складываются личные отношения
                li Невозможность управлять своей жизнью
                li Невозможность исполнить свою мечту
        .clearfix