section#last
    .container
        .last_wrapper
            h3.last_subtitle Достигайте большего ежедневно!
            p Десятки учеников доверяют нам и реализуют свои цели
            h4.last_subtitle Начните сейчас это безоплатно!
            button.button.button_last(data-toggle="modal" data-target="#myModalForm") Записаться