section#mail
	.container
		#mail_container
			.col-md-7
				h3.mail_title Интенсив стоит 4 990 рублей, но сегодня Вы можете приобрести его безоплатно. 
					span Спешите записаться!
				p.mail_subtitle + 
					span бонус 
					| от Ольги Веды
			.col-md-5
				button.button.button_mail(data-toggle="modal" data-target="#myModalForm") Записаться