section#main_screen
	include header
	.container
		.main_container
			.pre.pre_1 Бесплатный 5-ти дневный интенсив
			.pre.pre_2 Основы магии
			h1.main_title
				img(src="img/main_title.png", alt="Уникальная чистка денежных каналов")
			h2.main_subtitle Исполнение желаний уже сегодня!
		.date
			p С 
				img(src="img/17.png", alt="17")
				|  по  
				img(src="img/21.png", alt="21")
			p сентября, 19:00 мск
		p.main_author Автор: Ольга Веда
		.video_wrapper.main_video_wrapper
			iframe(src="https://youtube.com/embed/ZnkUGsNjJ9k?rel=0&autolay=1" allowfullscreen)
		img#veda_main(src="img/veda_main.png", alt="Ольга Веда")