mixin day(cl, h,img, dcl, ...items)
	.day(class= cl)
		.day_descript
			img.day_icon(class= dcl)(src= img alt= h)
			ul.day_list
				each item in items
					li= item
section#plan
	.container
		h3.subtitle.subtitle_gold План интенсива
		h4.plan_after Измени свою жизнь уже сегодня! Записывайся на "Основы магии"
		+day('day_first','День 1','img/plan_img_1.jpg','day_icon_first','Для чего нам нужна магия', 'Почему мы живем в замкнутом круге?', 'Пирамида-важный инструмент в магии', 'Зарядка пирамиды на поднятие энергетики,устранения усталости и приближение цели')
		+day('day_second','День 2','img/plan_img_2.jpg','day_icon_second','Что такое путь мага?', 'Что заставляет нас жить по правилам?', 'Что активизирует магические таланты?', 'Ритуал запуска вашего магического потенциала')
		+day('day_third','День 3','img/plan_img_3.jpg','day_icon_third','Что такое деньги с точки зрения магии', 'Почему сейчас перестают действовать многие человеческие способы получения денег', 'Магическая чистка денежных каналов', 'Что такое личная ценность', 'Ритуал поднятия личной ценности')
		+day('day_fourth','День 4','img/plan_img_4.jpg','day_icon_fourth','Почему окружающий мир пытается нас покусать?', 'Что такое зависть с точки зрения магии?', 'Ритуал избавления и защиты от зависти', 'Виды негативного магического воздействия на ваше жилище', 'Зарядка охранного гвоздя для защиты дома')
		+day('day_fifth','День 5','img/plan_img_5.jpg','day_icon_fifth','Введение в наномагию', 'Как использовать наномагию в различных областях жизни', 'Немного о программировании', 'Внушение нужного восприятия с помощью наномагии')
		button.button.button_plan(data-toggle="modal" data-target="#myModalForm") Записаться на пятидневку