mixin reaches(p, cl)
    .reach_container(class= cl)
        p.reach_descript= p
section#reach
    .container
        h3.subtitle.reach_subtitle После онлайн-интенсива вы научитесь:
        .row
            .col-lg-4.col-md-5.col-sm-6
                +reaches('Улучшать материальное благосостояние', 'reach_container_first')
                +reaches('Легко и быстро решать вопросы магическими способами', 'reach_container_second')
                +reaches('Избавляться от болезней', 'reach_container_third')
                +reaches('Получать подарки Вселенной человеческим способом', 'reach_container_fourth')
                +reaches('Ощущение радости и полноты жизни', 'reach_container_fifth')
            .col-lg-4.col-md-5.col-sm-6
                +reaches('Поднимать вашу энергетику на максимальный уровень', 'reach_container_sixth')
                +reaches('Наполнять гармонией личную жизнь', 'reach_container_seventh')
                +reaches('Избавляться и защищать себя от негативного магического воздействия', 'reach_container_eighth')
                +reaches('Исполнять желания', 'reach_container_ninth')
                +reaches('Полностью управлять своей жизнью', 'reach_container_tenth')
        .clearfix
        .col-md-8
            button.button.button_reach(data-toggle="modal" data-target="#myModalForm") Записаться
        .clearfix