section#reveiws
    .container
        h3.subtitle.subtitle_gold Отзывы учеников
        //- .carousel.slide(data-ride="carousel"  data-interval="0")#carousel_text
        //-     .carousel-inner.text_revs_carousel-inner(role="listbox")
        //-         .item.text_rev_item.active
        //-             a(href="img/reveiws/testim_2_2.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_2.jpg", alt="Отзыв 2")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_1.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_1.jpg", alt="Отзыв 1")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_3.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_3.jpg", alt="Отзыв 3")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_4.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_4.jpg", alt="Отзыв 4")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_5.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_5.jpg", alt="Отзыв 5")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_6.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_6.jpg", alt="Отзыв 6")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_7.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_7.jpg", alt="Отзыв 7")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_9.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_9.jpg", alt="Отзыв 9")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_10.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_10.jpg", alt="Отзыв 10")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_11.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_11.jpg", alt="Отзыв 11")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_12.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_12.jpg", alt="Отзыв 12")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_13.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_13.jpg", alt="Отзыв 13")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_14.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_14.jpg", alt="Отзыв 14")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_15.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_15.jpg", alt="Отзыв 15")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_16.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_16.jpg", alt="Отзыв 16")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_16.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_16.jpg", alt="Отзыв 16")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_17.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_17.jpg", alt="Отзыв 17")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_18.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_18.jpg", alt="Отзыв 18")
        //-         .item.text_rev_item
        //-             a(href="img/reveiws/testim_2_19.jpg" data-fancybox="testims")
        //-                 img(src="img/reveiws/testim_2_19.jpg", alt="Отзыв 19")
        //-     .controls
        //-         a.left.carousel-control(href="#carousel_text", role="button", data-slide="prev") ‹
        //-         a.right.carousel-control(href="#carousel_text", role="button", data-slide="next") ›
        //-     .clearfix
        //-     ol.carousel-indicators
        //-         li(data-target="#carousel_text" data-slide-to="0" class="active")
        //-         li(data-target="#carousel_text" data-slide-to="1")
        //-         li(data-target="#carousel_text" data-slide-to="2")
        //-         li(data-target="#carousel_text" data-slide-to="3")
        //-         li(data-target="#carousel_text" data-slide-to="4")
        //-         li(data-target="#carousel_text" data-slide-to="5")
        //-         li(data-target="#carousel_text" data-slide-to="6")
        //-         li(data-target="#carousel_text" data-slide-to="7")
        //-         li(data-target="#carousel_text" data-slide-to="8")
        //-         li(data-target="#carousel_text" data-slide-to="9")
        //-         li(data-target="#carousel_text" data-slide-to="10")
        //-         li(data-target="#carousel_text" data-slide-to="11")
        //-         li(data-target="#carousel_text" data-slide-to="12")
        //-         li(data-target="#carousel_text" data-slide-to="13")
        //-         li(data-target="#carousel_text" data-slide-to="14")
        //-         li(data-target="#carousel_text" data-slide-to="15")
        //-         li(data-target="#carousel_text" data-slide-to="16")
        //-         li(data-target="#carousel_text" data-slide-to="17")
        //-         li(data-target="#carousel_text" data-slide-to="18")
        .carousel.slide(data-ride="carousel"  data-interval="0")#carousel_video
            .carousel-inner.video_revs_carousel-inner(role="listbox")
                .item.active
                    .video_wrapper.carousel_video_wrapper(data-youtube="46v8x0gWFY0")
                        img(src="img/reveiws/video_1.jpg" alt="Видео-отзыв 1" ).video_testimonial
                .item
                    .video_wrapper.carousel_video_wrapper(data-youtube="ZFofDMBE6Ps")
                        img(src="img/reveiws/video_2.jpg" alt="Видео-отзыв 2" ).video_testimonial
                .item
                    .video_wrapper.carousel_video_wrapper(data-youtube="PUMtdmEouwE")
                        img(src="img/reveiws/video_3.jpg" alt="Видео-отзыв 3" ).video_testimonial
                .item
                    .video_wrapper.carousel_video_wrapper(data-youtube="Xlie5TsDSRs")
                        img(src="img/reveiws/video_4.jpg" alt="Видео-отзыв 4" ).video_testimonial
                .item
                    .video_wrapper.carousel_video_wrapper(data-youtube="6euozXnn8qA")
                        img(src="img/reveiws/video_5.jpg" alt="Видео-отзыв 5" ).video_testimonial
                .item
                    .video_wrapper.carousel_video_wrapper(data-youtube="aKUq9P79DXI")
                        img(src="img/reveiws/video_6.jpg" alt="Видео-отзыв 6" ).video_testimonial
            .controls.video_controls
                a.left.carousel-control(href="#carousel_video", role="button", data-slide="prev") ‹
                a.right.carousel-control(href="#carousel_video", role="button", data-slide="next") ›
            .clearfix
            ol.carousel-indicators
                li(data-target="#carousel_video" data-slide-to="0" class="active")
                li(data-target="#carousel_video" data-slide-to="1")
                li(data-target="#carousel_video" data-slide-to="2")
                li(data-target="#carousel_video" data-slide-to="3")
                li(data-target="#carousel_video" data-slide-to="4")
                li(data-target="#carousel_video" data-slide-to="5")