section#text_reveiws
	.container
		h3.subtitle Посмотрите, что произошло с теми, кто уже прошел “Основы магии” и нашёл легкие способы решения проблем
		.carousel.slide(data-ride="carousel"  data-interval="0")#carousel_text
			.carousel-inner.text_revs_carousel-inner(role="listbox")
				.item.active
					.text_rev_item
						.ava
							img.ava_img(src="img/reveiws/text_1.jpg", alt="Ольга Подчищаева")
							h4.ava_name Ольга Подчищаева
						.text_rev_descript
							h5.text_rev_descript_title ...таких глубоких и сильных положительный изменений в себе я не проживала за всю свою жизнь! А мне 50..
							p.text_rev_p За свою жизнь я проходила немало эзотерических курсов и видела немало тренеров и коучей. Но мало какие из этих курсов и учителей положительно повлияли на мою жизнь. Услышав Ольгу Веда на интенсиве я сразу отметила чёткость и понятность изложения и полезность материала, который она давала. И я решила - попробую в последний раз! Тогда я ещё не знала. что пойду за Ольгой до самого конца курса, а сейчас я собираюсь осенью и на основы магии. Таких глубоких и сильных положительных изменений в себе я не проживала за всю свою жизнь! А мне 50. И я теперь знаю, что у меня ещё всё впереди. Да здравствует магия и низкий Вам поклон Оленька! Я и дальше с Вами!
				.item
					.text_rev_item
						.ava
							img.ava_img(src="img/reveiws/text_2.jpg", alt="Татьяна Полшкова")
							h4.ava_name Татьяна Полшкова
						.text_rev_descript
							h5.text_rev_descript_title ...четкое понимание что Я-Хозяйка своей жизни. Ольга просто перетряхнула моё мировоззрение...
							p.text_rev_p Полный отзыв “Очень глубокий и познавательный курс, содержание было полностью новым для меня, хотя я много училась до этого, проходила обучение и коуч и психолога ,но Ольга так развернуто, доходчиво . структурировано дает материал, объясняя простым языком очень сложные вещи. Информация очень ценная, которую не доносят другие Гуру . Всегда поддержит ,даст информацию именно для тебя , что тебе на данный момент наиболее важно, терпеливо отвечает на все вопросы, пока все не уложится по полочкам . Каждое занятие -совершенно неповторимо , проводится много эффективных практик, ритуалов , с этим курсом я получила очень много ответов на свои вопросы , пришло понимание жизненных ситуаций , которые мне были недоступны ранее. После прохождения курса думаю пройдет переоценка , понимание своей ценности .И очень трудно оценить оценить в полной мере то значение, которое Ольга как тренер , как специалист своего дела и как прекрасный , мудрый, все понимающий человек внесла в мою жизнь, смогла запустить процессы на тренинге, уже дающие результаты , и которые будут проходить еще не один месяц. Фундаментальная прочистка мозгов и управление своей жизнью.Уверенность в себе , Четкое понимание что Я -Хозяйка своей жизни . Ольга просто перетряхнула мое мировоззрение . Я очень настороженно относилась к МАГИИ , попала на тренинг случайно, как что-то зацепило , заканчиваю его уже другим человеком. Теперь я ЛЮБЛЮ МАГИЮ. ЖДУ ОСНОВ МАГИИ ОЛЬГИ ВЕДЫ . БЛАГОДАРЮ, ОЛЬГА”
				.item
					.text_rev_item
						.ava
							img.ava_img(src="img/reveiws/text_3.jpg", alt="Ирина Ковинская")
							h4.ava_name Ирина Ковинская
						.text_rev_descript
							h5.text_rev_descript_title ...вижу большую разницу между тем, какая я пришла и какой я стала...
							p.text_rev_p Знаете это чувство, когда стоите на краю пропасти и нужно прыгнуть? Когда вернутся нельзя, а вперед только через прыжок? Так начиналось мое обучение на курсе Ольги Веда "Получение ключей силы" 
							p.text_rev_p Это было , наверное, самой большой авантюрой в моей жизни, которые принесла самые большие дивиденды. 
							p.text_rev_p После этого курса моя жизнь поменялась навсегда. Я поняла, что теперь без магии и трансформации своего жизненного пространства жить просто не смогу. Кроме того, я получила новую профессию - это профессия МАГА! 
							p.text_rev_p У нас была необыкновенная группа. Было очень много из России,Италии, Швеции ,Германии.. 
							p.text_rev_p Это начало моего пути - пути МАГА И ВОЛШЕБНИЦЫ! 
							p.text_rev_p ...И сегодня я благодарю всю нашу группу и нашу ВОЛШЕБНИЦУ И МАГА - ОЛЬГУ ВЕДА за то пространство, которое она создала и благодарю судьбу за такой такой подарок! 
							p.text_rev_p Четыре месяца назад, совершенно неожиданно сама для себя, я совершила этот прыжок в магию...У меня разрешились те вопросы и задачи, которые раньше казались невозможными. 
							p.text_rev_p Как бы ни было трудно,ПРЫЖОК - ЭТО ПЕРЕХОД НА НОВЫЙ УРОВЕНЬ. Это новые возможности и новые энергии.Это новый мир, который мы создаем для себя и наших детей. 
							p.text_rev_p НЕ БОЙТЕСЬ ПРЫГНУТЬ! ПРЫЖОК - ЭТО КРУТО!
				.item
					.text_rev_item
						.ava
							img.ava_img(src="img/reveiws/text_4.jpg", alt="Татьяна Сорокина")
							h4.ava_name Татьяна Сорокина
						.text_rev_descript
							h5.text_rev_descript_title ...фундаментальная прочистка мозгов и управления своей жизнью. Попала на тренинг случайно, а заканчиваю его уже другим человеком...
							p.text_rev_p Очень глубокий и познавательный курс, содержание было полностью новым для меня, хотя я много училась до этого. Ольга очень хорошо структурирует материал, объясняя простым языком очень сложные вещи. Информация очень ценная, которую не прочтешь в каких-то известных источниках. В чате она нас поддерживала практически круглосуточно, терпеливо отвечая на все вопросы. Кроме того, на каждом занятии было много эффективных практик, так что с этим курсом я быстро достигла понимания многих вопросов, которые мне были не доступны ранее. Сейчас, сразу после прохождения курса, я думаю, даже сложно оценить в полной мере то значение, которое Ольга как тренер и как прекрасный умный тонкий чуткий человек внесла в мою жизнь, процессы, запущенные на тренинге, только развиваются и будут происходить еще несколько месяцев. Не сравнимо ни с чем, пройдённым до этого. Фундаментальная прочистка мозгов и управление своей жизнью. Попала на тренинг случайно, а заканчиваю его уже другим человеком
				.item
					.text_rev_item
						.ava
							img.ava_img(src="img/reveiws/text_5.jpg", alt="Татиана Гинкус")
							h4.ava_name Татиана Гинкус
						.text_rev_descript
							h5.text_rev_descript_title ...самое главное я познала науку, как всё исправить, познала саму себя из глубин моего Рода...
							p.text_rev_p Ольга Веда! Ты Супер Маг и преподаватель! Низкий тебе поклон за все те знания и практики которыми ты так щедро делишься с нами. Ты столько дала нам ценных навыков и вложила в них все свое вдохновение. Мы с тобой познали реальность бытия, узнали наш Род, нашли своих Наставников, познакомились со своими Ангелами хранителями. Научились изменять реальность, решать проблемы, искать причины и истоки неприятностей, и самое главное познали науку, как все это исправить, познали самих себя из глубин нашего Рода. На занятиях было столько интересного и познавательного, мы открыли для себя столько нового и полезного. Мы научились помогать себе и своим близким, и имеем возможность сделать это своей профессией, чтобы помогать людям, окружающим. Это мой второй курс у Ольги, третий сейчас прохожу параллельно. Столько знаний, мудрости и реальных практик, волшебных практик, я еще никогда не получала в своей жизни. Все применимо и работает. Главное быть внимательным и серьезно подходить к поставленным задачам. Ольга восхитительна, тверда и в тоже время обладает заботой и нежностью. Она к каждому участнику курса относится с невероятным вниманием и пониманием, решает огромное количество вопросов, всем дает необходимые советы и рекомендации. У неё на всех хватает сил, время и терпения. Я советую всем, кто хочет научиться магическому волшебству идти смело обучаться на курсы к Ольге Веда! Настоящему Магу и прекрасному Человеку. А я буду ждать новых курсов от Ольги, чтобы пополнять свои знания новыми науками от Ольги Веда!
			.controls.text_revs_controls
				a.left.carousel-control(href="#carousel_text", role="button", data-slide="prev") ‹
				a.right.carousel-control(href="#carousel_text", role="button", data-slide="next") ›
			.clearfix
			ol.carousel-indicators
				li(data-target="#carousel_text" data-slide-to="0" class="active")
				li(data-target="#carousel_text" data-slide-to="1")
				li(data-target="#carousel_text" data-slide-to="2")
				li(data-target="#carousel_text" data-slide-to="3")
				li(data-target="#carousel_text" data-slide-to="4")
		button.button.button_whant(data-toggle="modal" data-target="#myModalForm") Хочу таких же результатов